<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${indSingleGameRecord}">
    <div class="form-group">
        <label th:for="title">Record Title</label>
        <input class="form-control" th:field="*{title}" />
        <span th:errors="*{title}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="record">Record</label>
        <input class="form-control" th:field="*{record}" />
        <span th:errors="*{record}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="opponent">Opponent</label>
        <input class="form-control" th:field="*{opponent}" />
        <span th:errors="*{opponent}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="player">Player</label>
        <input class="form-control" th:field="*{player}" />
        <span th:errors="*{player}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="year">Year</label>
        <input class="form-control" th:field="*{year}" />
        <span th:errors="*{year}" class="error"></span>
    </div>


    <input type="submit" value="Add Individual Single Game Record" />
</form>

</body>
</html>