<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${schedules} and ${schedules.size()}">no games :(</p>


<table class="table">

    <tr>
        <th>Week</th>
        <th>Home</th>
        <th>Home Score</th>
        <th>Visitor</th>
        <th>Visitor Score</th>
        <th>Year</th>

    </tr>


    <tr th:each="schedule : ${schedules}">
        <td th:text="${schedule.week}"></td>
        <td th:text="${schedule.homeTeam}"></td>
        <td th:text="${schedule.homeTeamScore}"></td>
        <td th:text="${schedule.awayTeam}"></td>
        <td th:text="${schedule.awayTeamScore}"></td>
        <td th:text="${schedule.season.year}"></td>
    </tr>

</table>

<nav>
    <a th:href="'/schedule/add?id=' + ${seasonId}">Add</a> |
    <a href="/schedule/remove">Remove</a>
</nav>


</body>
</html>