<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">St. Charles West Warrior Football</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">

    <a href="/season">Home</a> |
    <a href="/season">List</a> |
    <a href="/season/add">Add Season</a> |
    <a href="/season/remove">Remove Season</a>|
    <a href="/schedule/add">Add Schedule</a> |
    <a href="/schedule/remove">Remove Schedule</a>|


    <!--<a href="/category">Categories</a> |-->
    <!--<a href="/menu">Menus</a>-->

</nav>

</body>
</html>