<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${rosters} and ${rosters.size()}">no players :(</p>


<table class="table">

    <tr>
        <th>Number</th>
        <th>Player</th>
        <th>Class</th>
        <th>Feet</th>
        <th>Inches</th>
        <th>Weight</th>
        <th>Offense</th>
        <th>Defensive</th>
        <th>Special Teams</th>
        <th>Note</th>
        <th>Year</th>

    </tr>


    <tr th:each="roster : ${rosters}">
        <td th:text="${roster.number}"></td>
        <td th:text="${roster.player}"></td>
        <td th:text="${roster.playerClass}"></td>
        <td th:text="${roster.feet}"></td>
        <td th:text="${roster.inches}"></td>
        <td th:text="${roster.weight}"></td>
        <td th:text="${roster.offensivePosition}"></td>
        <td th:text="${roster.defensivePosition}"></td>
        <td th:text="${roster.specialTeams}"></td>
        <td th:text="${roster.playerNote}"></td>
        <!--<td th:text="${roster.season.year}"></td>-->

    </tr>

</table>


<nav>
    <a th:href="@{/roster/add(id=${seasonId})}">Add Players</a> |
    <a th:href="@{/roster/remove(id=${seasonId})}">Remove Players</a>
</nav>

</body>
</html>